@use './components/header.scss' as *;
@use './variables.scss' as *;
@use './components/pokeDex.scss' as *;

/*--Typography--*/
@font-face {
	font-family: 'Quicksand';
	src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
}

body {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $screen-sm) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $screen-md) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: $screen-lg) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: $screen-xl) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: $screen-xxl) {
    .container {
        max-width: 1320px;
    }
}